* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero__section {
  background: url(images/heroSectionBackground.png);
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 60vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  height: 60px;
}

.navbar a {
  text-decoration: none;
  color: white;
  /* font-weight: 300; */
}

.navbar__menu_container {
  display: flex;
  gap: 20px;
}

.user__icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: solid 1px white;
  align-items: center;
  justify-content: center;
  display: none;
}

.hero__section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(60vh - 60px);
  gap: 32px;
}

.hero__section_logo {
  width: 250px;
  height: auto;
}

.hero__section_title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.hero__section_input_container {
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.input_container_location,
.input_container_search {
  padding: 5px;
  border: none;
  outline: none;
}

.input_container_search {
  width: 70%;
}

.input_container_location {
  width: 30%;
  border-right: 2px solid #e0e0e0;
}

@media only screen and (max-width: 600px) {
  .navbar__menu_container .link {
    display: none;
  }

  .user__icon {
    display: flex;
  }

  .navbar {
    padding: 16px;
  }

  .hero__section {
    min-height: 80vh;
  }

  .hero__section_input_container {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
  }

  .input_container_location,
  .input_container_search {
    padding: 15px;
    border-radius: 10px;
    width: 90%;
  }

  .hero__section_container {
    height: calc(80vh - 60px);
  }

  .input_container_location {
    border-right: none;
  }
}
