* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero__section {
  background: url(/images/heroSectionBackground.png);
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 60vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  height: 60px;
}

.navbar a {
  text-decoration: none;
  color: white;
  /* font-weight: 300; */
}

.navbar__menu_container {
  display: flex;
  gap: 20px;
}

.user__icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: solid 1px white;
  align-items: center;
  justify-content: center;
  display: none;
}

.hero__section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(60vh - 60px);
  gap: 32px;
}

.hero__section_logo {
  width: 250px;
  height: auto;
}

.hero__section_title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.hero__section_input_container {
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.input_container_location,
.input_container_search {
  padding: 5px;
  border: none;
  outline: none;
}

.input_container_search {
  width: 70%;
}

.input_container_location {
  width: 30%;
  border-right: 2px solid #e0e0e0;
}

@media only screen and (max-width: 600px) {
  .navbar__menu_container .link {
    display: none;
  }

  .user__icon {
    display: flex;
  }

  .navbar {
    padding: 16px;
  }

  .hero__section {
    min-height: 80vh;
  }

  .hero__section_input_container {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
  }

  .input_container_location,
  .input_container_search {
    padding: 15px;
    border-radius: 10px;
    width: 90%;
  }

  .hero__section_container {
    height: calc(80vh - 60px);
  }

  .input_container_location {
    border-right: none;
  }
}

.container {
  margin: 48px auto;
  width: 80%;
}

.we__offer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.we__offer .card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  transition: all 300ms ease-out;
}

.we__offer .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.we__offer .card h2 {
  padding: 10px 10px 0 10px;
  font-size: 20px;
  font-weight: 400;
}

.we__offer .card p {
  font-size: 13px;
  padding: 0 10px 15px 10px;
}

.we__offer .card:hover {
  transform: scale(1.05);
}

.collections h1 {
  font-weight: 400;
}

.collections .sub__heading_container {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.sub__heading_container span:nth-child(2) {
  color: #ff7e8b;
  font-size: 13px;
}

.collections_card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

.collections_card_container .card {
  height: 300px;
  min-width: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
}

.card1 {
  background-image: url("images/collection1.jpg");
}

.card2 {
  background-image: url("images/collection2.jpg");
}

.card3 {
  background-image: url("images/collection3.jpg");
}

.card4 {
  background-image: url("images/collection4.jpg");
}

.overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 85%
  );
  width: 100%;
  height: 100%;
  display: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.collections_card_container .card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 12px 16px;
  font-size: 14px;
}

.content h4 {
  font-weight: 400;
}
